{% extends 'layout.html.twig' %}

{% block js_vars %}
var details_url = '{{ app.url_generator.generate('product') }}';
{% endblock %}

{% block body %}
<h1>ICONIC Search</h1>

<form action="{{ app.url_generator.generate('search') }}" id="search-form">
    <input type="hidden" name="page" id="current-page" value="1">

    <div class="input-group">
        <input type="text" name="term" id="term" class="input-group-field" placeholder="What are you looking for?">
        <a class="input-group-button button search-button">Search</a>
    </div>
</form>    

<div id="products" class="clearfix"></div>

<div id="no-results" class="hide">
    <p>No results found :(</p>
</div>

<div id="pagination" class="hide text-center">
    <a href="#" class="button">Load more</a>
</div>


<div id="product-details" class="details-container small-10 medium-8 large-6 columns">
    <header class="details-header clearfix">
        <h2>Product details</h2>
        <a href="#" class="details-close">Close</a>
    </header>

    <div class="details-content"></div>    
</div>

<div id="loader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<div class="details-overlay"></div>

<script id="product-search-template" type="text/x-handlebars-template">
{% verbatim %}
<div class="product medium-4 large-3 columns">
    <a href="{{ url }}" data-sku="{{ sku }}" class="product-wrapper">
        <div class="product-image">
            <img src="{{ image }}">
        </div>

        <div class="product-description">
            <p class="product-name">{{ name }}</p>
            <p class="product-brand">{{ brand }}</p>

            <div class="row">
                <p class="product-price small-6 columns">${{ price }}</p>
                <p class="product-sku small-6 columns">{{ sku }}</p>
            </div>
        </div>
    </a>
</div>
{% endverbatim %}
</script>

<script id="product-details-template" type="text/x-handlebars-template">
{% verbatim %}
<span class="details-image" style="background-image: url({{ image }})"></span>

<h3>{{ title }}</h3>
<p class="details-sku">{{ sku }}</p>
<p class="details-brand">{{ brand }}</p>

<div class="details-description">
    {{{ description }}}
</div>

<p class="details-price">${{ price }}</p>

<div class="details-action">
    <a href="#" class="button button-large">Buy it</a>
</div>
{% endverbatim %}
</script>
{% endblock %}
