<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}The ICONIC Search{% endblock %}</title>

        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ app.request.basepath }}/css/foundation.min.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/app.css">

        <link rel="icon" href="{{ app.request.basepath }}/images/favicon.ico" type="image/x-icon">

        <script>
        {% block js_vars %}{% endblock %}
        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="wrapper">
            {% block body %}{% endblock %}
        </div>
        
        <script src="{{ app.request.basepath }}/js/vendor/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/js/vendor/foundation.min.js"></script>
        <script src="{{ app.request.basepath }}/js/vendor/what-input.js"></script>
        <script src="{{ app.request.basepath }}/js/vendor/isotope.min.js"></script>
        <script src="{{ app.request.basepath }}/js/vendor/imagesloaded.min.js"></script>
        <script src="{{ app.request.basepath }}/js/vendor/handlebars.min.js"></script>
        <script src="{{ app.request.basepath }}/js/app.js"></script>
        {% block custom_js %}{% endblock %}
    </body>
</html>
